<div class="body_content writing">
  <div class="title">
    <div class="icon"></div>
    <h2><%= t(:writing_settings) %></h2>
  </div>
  <form class="inputs" method="post" action="<%= writing_admin_options_path %>">
    <div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
      <%#= render :partial => 'text_input', :locals => { :key => 'key_here' } %>
    </div>
    <div class="clear"></div>
    <p class="default"><input type="submit" class="default" value="<%= t(:save_changes) %>"/></p>
  </form>
</div>
