

  <div id="title_field">
    <%= form.text_field :title %>
    <!-- <div id="url_slug" style="display:block">
      http://<%= form.text_field :slug %>
    </div> -->
  </div>
  <div id="editorcontainer" class="yui-skin-sam">
    <%= form.text_area :content %>
  </div>
