<div id="title_field">
  <%= form.text_field :title %>

  <div id="edit-slug-box">
    <strong>Permalink:</strong>
    <span id="sample-permalink">http://<%= request.host_with_port %>/pages/<span title="Click to edit this part of the permalink" id="editable-post-name"><%= form.text_field :slug %>
  </div>
</div>
<div id="editorcontainer" class="yui-skin-sam">
  <%= form.text_area :content %>
</div>
