<% post_box('Publish') do %>
  <div id="minor-publishing-actions">
    <div id="save-action">
      <input type="submit" class="button button-highlighted" tabindex="4" value="Save Draft" id="save-post" name="save"/>
    </div>
    <div id="preview-action">
      <a tabindex="4" id="post-preview" target="wp-preview" href="http://meenster.wordpress.com/?p=17&amp;preview=true" class="preview button">Preview</a>
      <input type="hidden" value="" id="wp-preview" name="wp-preview"/>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div id="major-publishing-actions">
    <div id="delete-action">
      <a onclick="if ( confirm('You are about to delete this draft \'adsfasdfa\'\n  \'Cancel\' to stop, \'OK\' to delete.') ) {return true;}return false;" href="post.php?action=delete&amp;post=17&amp;_wpnonce=8c451dcb48" class="submitdelete deletion">Delete</a>
    </div>

    <div id="publishing-action">
      <input type="hidden" value="Publish" id="original_publish" name="original_publish"/>
  		<input type="submit" value="Publish" accesskey="p" tabindex="5" id="publish" class="button-primary" name="publish"/>
  	</div>
    <div class="clear">&nbsp;</div>
  </div>



  <!-- <div class="content">
     <input id="page_savedraft" style="float:left" type="submit" name="draft" value="Save Draft"/>
     <input id="page_preview" style="float:right" type="submit" name="preview" value="Preview"/>
     <div class="clear"></div>
  </div>
  <div class="footer">
     <input id="page_publish" type="button" name="publish" value="Publish"/>
  </div> -->
<% end %>

<% post_box('Tags') do %>
  <%= form.text_field :tag_list %>
<% end %>

<% post_box('Categories') do %>
  <div>
    <ul class="categorychecklist clearfix">
    <% Category.parents.each do |category| %>
      <li>
        <label class="selectit"><%= check_box_tag "page[category_ids][]", category.id, @page.categories.include?(category) %><%= category.name %></label>
        <%= category_children(@page, category) %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>