/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre, code {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;background:#FAEEF9;}
th, td {padding:4px 10px 4px 5px;}
tr.even td {background:#E5ECF9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* design.css */
html, body {
  background:#f9f9f9;
  color: #333;
}
a {
  color: #21759B;
}
#header {
  background: #464646;
  height: 48px;
}
#header img {
  float:left;
}
#header h1 {
  float:left;
  line-height:48px;
  -x-system-font:none;
  float:left;
  font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size:22px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  margin:0;
}
#header h1 a {
  line-height:48px;
  color:#fff;
  text-decoration:none;
}
#header h1 a:hover {
  text-decoration:underline;
}
#header h1 a span {
  font-size:12px;
  line-height:48px;
  padding-left:10px;
}
#content {
  width:100%;
  height:100%;
  margin:0;
  position:relative;
}
/* toolbar.css */
#toolbar {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  overflow:hidden;
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size:13px;
}
#toolbar a {
  text-decoration:none;
}
#toolbar a:hover {
  text-decoration:underline;
  color:#D54E21;
}
#toolbar ul {
  list-style:none;
}
#toolbar ul li.first {
  margin-top:10px;
  border:none;
  background:transparent;
}
#toolbar ul li ul {
  margin:0px;
  background:#fff;
}
#toolbar ul li ul li {
  text-indent:10px;
  border:1px solid #ccc;
  border-bottom:none;
  border-top:none;
  background:#fff;
}
#toolbar ul li ul li.last {
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
}
#toolbar ul li ul li a {
  display:block;
  width:100%;
}
#toolbar ul li ul li a:hover {
  color:#000;
  text-decoration:none;
  background:#EAF2FA;
}
#toolbar h2 {
  font-size:16px;
  position:relative;
  padding-left:24px;
  border:1px solid #ccc;
  border-bottom: none;
  background:#eee;
  margin:0;
}
#toolbar li.open h2,
#toolbar li.last h2 {
  border-bottom:1px solid #ccc;
}
#toolbar li.last h2 {
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
}
#toolbar li.open.last h2 {
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
#toolbar li.empty,
#toolbar li.empty h2 {
  -webkit-border-radius:8px !important;
  -moz-border-radius:8px !important;
}
#toolbar li.first,
#toolbar li.first h2 {
  -moz-border-radius-topleft:8px;
  -moz-border-radius-topright:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
}
#toolbar ul li.last {
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
}
#toolbar ul li.last ul li.last {
}
#toolbar ul li {
  background:#eee;
}
#toolbar h2:hover {
  cursor:pointer;
}
#toolbar h2 .handle {
  background: transparent url(/images/admin/down-arrow.png) no-repeat;
  display:block;
  position:absolute;
  width:24px;
  height:24px;
  right:0px;
  top:0px;
  cursor:pointer;
  border-left:1px solid #ccc;
}
#toolbar h2 .micon {
  background: transparent url(/images/admin/menu.png) no-repeat;
  display:block;
  position:absolute;
  width:19px;
  height:19px;
  left:2px;
  top:0px;
}
#toolbar h2 .pages-icon {
  background-position:-276px -36px;
}
#toolbar h2:hover .pages-icon {
  background-position:-276px -4px;
}
#toolbar h2 .links-icon {
  background-position:-96px -36px;
}
#toolbar h2:hover .links-icon {
  background-position:-96px -4px;
}
#toolbar h2 .media-icon {
  background-position:-126px -40px;
  top:4px;
}
#toolbar h2:hover .media-icon {
  background-position:-126px -8px;
}
#toolbar h2 .appearance-icon {
  background-position:-6px -36px;
}
#toolbar h2:hover .appearance-icon {
  background-position:-6px -4px;
}
#toolbar h2 .tools-icon {
  background-position:-216px -40px;
  top:4px;
}
#toolbar h2:hover .tools-icon {
  background-position:-216px -8px;
}
#toolbar h2 .settings-icon {
  background-position:-246px -36px;
}
#toolbar h2:hover .settings-icon {
  background-position:-246px -4px;
}
#toolbar h2 .dashboard-icon {
  background-position:-66px -36px;
}
#toolbar h2:hover .dashboard-icon {
  background-position:-66px -4px;
}
#toolbar .current {
  background:#666 !important;
/*  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  */
}
/*#toolbar ul li.first {
  background:#666;
}*/
#toolbar .current h2 {
  background:transparent;
}
#toolbar .current h2 a {
  color:#fff;
}
#toolbar .current h2 {
  color:#fff;
}
#toolbar .current h2 .handle {
  border:none;
}
#toolbar ul li ul li.selected a:hover {
  background:#EAF2FA url(/images/admin/menu-dark.gif) no-repeat scroll left top;
}
#toolbar .selected {
  background:#F5F5F5 url(/images/admin/menu-dark.gif) no-repeat scroll left top;
  border-left:none;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
#toolbar .cfirst {
  border-top:none;
}
#toolbar .clast {
  border-bottom:none;
}

/* workspace.css */
#workspace {
  margin-left:195px;
  clear:both;
  height:100%;
  position:relative;
  top:0px; left:0px;
}
#fields {
  float:left;
  clear:left;
  width:100%;
  margin-right:-340px;
}
#sidebar {
  clear:right;
  float:right;
  position:relative;
  width:280px;
  margin-top:45px;
}
#page {
  float:left;
  width:100%;
}
#title_field {
  margin-bottom:10px;
}
#editorcontainer {
  width:100%;
  padding:3px 4px;
}
.body_content {
  margin-right:305px;
}
.body_content h2 {
  color:#464646;
  -x-system-font:none;
  font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size:24px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:italic;
  font-variant:normal;
  font-weight:normal;
  line-height:35px;
  margin:0;
  padding:14px 15px 3px 0;
  text-shadow:0 1px 0 #FFFFFF;
}
#page_title {
  -moz-border-radius-bottomleft:6px;
  -moz-border-radius-bottomright:6px;
  -moz-border-radius-topleft:6px;
  -moz-border-radius-topright:6px;
  border-style:solid;
  border-width:1px;
  font-size:1.7em;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  padding:3px 4px;
  width:100%;
  border-color:#DFDFDF;
}
/* layout.css */
.container {
  background:#fff;
  margin:10px;
  border:1px solid #DFDFDF;
}
.container .title {
  background:#DFDFDF;
  padding:6px;
}
.container .title h3 {
  margin:0;
}
.container .content {
  background:#fff;
  font-size:11px;
  padding:6px;
}
.container .footer {
  background:#EAF2FA;
  padding:6px;
  text-align:right;
}
.content {
  clear:right;
}

/* utils.css */
.clear {
  clear:both;
}
