/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre, code {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;background:#FAEEF9;}
th, td {padding:4px 10px 4px 5px;}
tr.even td {background:#E5ECF9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#FFFBCC;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
textarea, input, select {
  -x-system-font:none;
  font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  font-size:13px;
  line-height:19px;
  margin:1px;
  padding:3px;
}
input[type="text"], input[type="password"], textarea { -moz-box-sizing:border-box; }

/* form.css */
input[type=text], input[type="password"] {
  border:1px solid #DFDFDF;
/*  font-size:1.7em;*/
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
/*  padding:3px 4px;*/
  width: 100%;
}
#user_session_remember_me{
  float:left;
}
input.simple {
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border:1px solid #DFDFDF;
  font-size:1.0em;
  padding:3px 3px;
}
label {
  padding:3px 4px;
  float:left;
  clear:left;
  text-align:justify;
/*  width:450px;*/
  display:block;
  position:relative;
}
label strong {
  float:left;
  color:#222;
  text-shadow:0 1px 0 #FFFFFF;
  font-weight:normal;
  font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  font-size:13px;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  line-height:30px;
}
label input[type=text] {
  float:right;
}
form.inputs {
  width:100%;
}
form.inputs span.desc {
  height:1.7em;
  line-height:1.7em;
  float:left;
  display:block;
  padding:3px 4px;
  margin:5px;
  font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  font-style:italic;
  color:#666;
  font-size:11px;
  line-height:20px;
}
select { background-color:#FFFFFF; border-color:#DDDDDD; }
select {
  -x-system-font:none;
  border-style:solid;
  border-width:1px;
  font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  font-size:11px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  height:2em;
  line-height:20px;
  padding:2px;
  vertical-align:top;
}

/* design.css */
html, body {
  background:#f9f9f9;
  color: #333;
}
a {
  color: #21759B;
}
#header {
  background: #464646;
  height: 48px;
}
#header h1 {
  float:left;
  font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size:22px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  height:22px;
  line-height:22px;
  margin:0;
  padding:0px 8px 5px;
  display:block;
}
#header img {
  width: 31px;
  height:30px;
  margin: 7px 0 0 15px;
  float:left;
}

#header h1 a {
  line-height:48px;
  color:#fff;
  text-decoration:none;
}
#header h1 a:hover {
  text-decoration:underline;
}
#header h1 a span {
  font-size:12px;
  line-height:48px;
  padding-left:10px;
}
#content {
  width:100%;
  height:100%;
  margin:0;
  position:relative;
}
#login {
  background:#fff;
  border:1px solid #ccc;
  -moz-border-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  margin:4em auto;
  width:320px;
  padding:10px;
}

/* toolbar.css */
#toolbar {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  overflow:hidden;
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size:13px;
}
#toolbar a {
  text-decoration:none;
}
#toolbar a:hover {
  text-decoration:underline;
  color:#D54E21;
}
#toolbar ul {
  list-style:none;
}
#toolbar ul li.first {
  margin-top:10px;
  border:none;
  background:transparent;
}
#toolbar ul li ul {
  margin:0px;
  background:#fff;
}
#toolbar ul li ul li {
  text-indent:10px;
  border:1px solid #ccc;
  border-bottom:none;
  border-top:none;
  background:#fff;
}
#toolbar ul li ul li.last {
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
}
#toolbar ul li ul li a {
  display:block;
  width:100%;
}
#toolbar ul li ul li a:hover {
  color:#000;
  text-decoration:none;
  background:#EAF2FA;
}
#toolbar h2 {
  font-size:16px;
  position:relative;
  padding-left:24px;
  border:1px solid #ccc;
  border-bottom: none;
  background:#eee;
  margin:0;
}
#toolbar li.open h2,
#toolbar li.last h2 {
  border-bottom:1px solid #ccc;
}
#toolbar li.last h2 {
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
}
#toolbar li.open.last h2 {
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
}
#toolbar li.empty,
#toolbar li.empty h2 {
  -webkit-border-radius:8px !important;
  -moz-border-radius:8px !important;
}
#toolbar li.first,
#toolbar li.first h2 {
  -moz-border-radius-topleft:8px;
  -moz-border-radius-topright:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
}
#toolbar ul li.last {
  -moz-border-radius-bottomleft:8px;
  -moz-border-radius-bottomright:8px;
  -webkit-border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
}
#toolbar ul li.last ul li.last {
}
#toolbar ul li {
  background:#eee;
}
#toolbar h2:hover {
  cursor:pointer;
}
#toolbar h2 .handle {
  background: transparent url(/images/admin/menu-bits.gif) no-repeat scroll -1px -111px;
  display:block;
  position:absolute;
  width:24px;
  height:24px;
  right:0px;
  top:0px;
  cursor:pointer;
  border-left:1px solid #ccc;
}
#toolbar h2 .micon {
  background: transparent url(/images/admin/menu.png) no-repeat;
  display:block;
  position:absolute;
  width:19px;
  height:19px;
  left:2px;
  top:0px;
}
#toolbar h2 .pages-icon {
  background-position:-276px -36px;
}
#toolbar .current h2 .pages-icon,
#toolbar h2:hover .pages-icon {
  background-position:-276px -4px;
}
#toolbar h2 .links-icon {
  background-position:-96px -36px;
}
#toolbar .current h2 .links-icon,
#toolbar h2:hover .links-icon {
  background-position:-96px -4px;
}
#toolbar h2 .media-icon {
  background-position:-126px -40px;
  top:4px;
}
#toolbar .current h2 .media-icon,
#toolbar h2:hover .media-icon {
  background-position:-126px -8px;
}
#toolbar h2 .appearance-icon {
  background-position:-6px -36px;
}
#toolbar .current h2 .appearance-icon,
#toolbar h2:hover .appearance-icon {
  background-position:-6px -4px;
}
#toolbar h2 .users-icon {
  background-position:-306px -40px;
  top:4px;
}
#toolbar .current h2 .users-icon,
#toolbar h2:hover .users-icon {
  background-position:-306px -8px;
}
#toolbar h2 .tools-icon {
  background-position:-216px -40px;
  top:4px;
}
#toolbar .current h2 .tools-icon,
#toolbar h2:hover .tools-icon {
  background-position:-216px -8px;
}
#toolbar h2 .settings-icon {
  background-position:-246px -36px;
}
#toolbar .current h2 .settings-icon,
#toolbar h2:hover .settings-icon {
  background-position:-246px -4px;
}
#toolbar h2 .dashboard-icon {
  background-position:-66px -36px;
}
#toolbar .current h2 .dashboard-icon,
#toolbar h2:hover .dashboard-icon {
  background-position:-66px -4px;
}
#toolbar .current {
  background:#666 !important;
}
#toolbar .current h2 {
  background: transparent url(/images/admin/menu-bits.gif) repeat-x scroll top left;
}
#toolbar .current h2 a {
  color:#fff;
}
#toolbar .current h2 {
  color:#fff;
}
#toolbar .current h2 .handle {
  border:none;
  background-position: -1px -211px;
}
#toolbar ul li ul li.selected a:hover {
  background:#EAF2FA url(/images/admin/menu-dark.gif) no-repeat scroll left top;
}
#toolbar .selected {
  background:#F5F5F5 url(/images/admin/menu-dark.gif) no-repeat scroll left top;
  border-left:none;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
#toolbar .cfirst {
  border-top:none;
}
#toolbar .clast {
  border-bottom:none;
}

/* top navigation css */

#fav-actions {
  position:absolute;
  right:100px;
  top:0px;
  border-color: #777 #777 #666;
  margin:11px 12px 0;
  min-width:130px;
}
#fav-actions a {
  color:#ddd;
  text-decoration:none;
}
#fav-actions .first {
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-style:solid;
  border-width:1px;
  line-height:15px;
  padding:3px 30px 4px 12px;
  background:#797979 url(/images/admin/fav.png) repeat-x left center;
  border-color:#797979;
}
#fav-actions .toggle {
  background:transparent url(/images/admin/fav-arrow.gif) no-repeat scroll 0px -4px;
  height:22px;
  position:absolute;
  right:0;
  top:1px;
  width:28px;
}
#fav-actions .menu {
  display:none;
}
#fav-actions.open .menu {
  background:#797979;
  border-color:#797979;
  -moz-border-radius-bottomleft:12px;
  -moz-border-radius-bottomright:12px;
  -moz-border-radius-topleft:0;
  -moz-border-radius-topright:0;
  -webkit-border-bottom-left-radius:12px;
  -webkit-border-bottom-right-radius:12px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  border-style:solid;
  border-width:1px;
  border-top:0;
  margin:0 0 0 0;
  padding:0 1px 6px;
  position:absolute;
  z-index:11;
  width:86px;
  padding: 3px 30px 4px 12px;
}
#fav-actions.open .first {
  border-bottom:0;
  -moz-border-radius-bottomleft:0px;
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-left-radius:0px;
  -webkit-border-bottom-right-radius:0px;
}

/* workspace.css */
#workspace {
  margin-left:195px;
  margin-right: 15px;
  clear:both;
  height:100%;
  position:relative;
  top:0px; left:0px;
}
#fields {
  float:left;
  clear:left;
  width:100%;
  margin-right:-340px;
}
#sidebar {
  clear:right;
  float:right;
  position:relative;
  width:280px;
}
/* page.css */
#page {
  float:left;
  width:100%;
}
#title_field {
  margin-bottom:10px;
}
#editorcontainer #page_content_container {
  width:100%;
  height:100%;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border:1px solid #DFDFDF;
  font-size:1.7em;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  padding: 0px;
  width:100%;
  background:#F2F2F2;
}

#editorcontainer #page_content_toolbar {
  padding: 3px;
  background: transparent url(/images/admin/ed-bg.gif) top left repeat-x;
}

#url_slug {
  position:relative;
}
#url_slug .highlight {
  cursor:text;
}
#url_slug label {
  height:30px;
  line-height:30px;
  padding:4px;
  position:relative;
  top:0px; left:0px;
}
#url_slug .editable {
  display:block;
  position:absolute;
  right:-218px;
  top:-4px;
  width:270px;
}
#url_slug .editable input {
  width:150px;
}
/* content stuff */
.page_title .icon {
  background:transparent url(/images/admin/icons32.png) no-repeat;
  width:36px;
  height:36px;
  margin-top:14px;
  float:left;
}
.post_stuff { padding-top: 10px; }
.page .page_title .icon {
  background-position:-552px -5px;
}
.general .page_title .icon {
  background-position:-492px -5px;
}
.body_content {
  margin-right:305px;
}
.page_title h2 {
  color:#464646;
  text-indent:10px;
  -x-system-font:none;
  font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-size:24px;
  font-style:italic;
  line-height:35px;
  margin:0;
  padding:14px 15px 3px 0;
  text-shadow:0 1px 0 #FFFFFF;
}
#page_title {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-style:solid;
  border-width:1px;
  font-size:1.7em;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  padding:3px 4px;
  width:100%;
  border-color:#DFDFDF;
}
/* layout.css */
.container {
  background:#fff;
  margin:10px;
  border:1px solid #DFDFDF;
}
.container .title {
  background:#DFDFDF;
  padding:6px;
}
.container .title h3 {
  margin:0;
}
.container .content {
  background:#fff;
  font-size:11px;
  padding:6px;
}
.container .footer {
  background:#EAF2FA;
  padding:6px;
  text-align:right;
}
.content {
  clear:right;
}

/* nice looking table list */
.listview {
  table-layout: fixed;
  background-color: #fff;
  border-color: #DFDFDF;
  border-collapse:separate;
  border-spacing:0;
  border-style:solid;
  border-width:1px;
  clear:both;
  margin:0;
  width:100%;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
.listview .check-col {
  padding:0;
  width:2.2em;
}
.listview th {
  background:#DFDFDF url(/images/admin/gray-grad.png) repeat-x scroll left top;
  color:#333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.listview td,
.listview th {
  border-color: #DFDFDF;
  overflow: hidden;
  border-bottom-style:solid;
  border-bottom-width:1px;
  font-size:11px;
  vertical-align:text-top;
}
.filters,
.bulkactions {
  float:left;
}

/* utils.css */
.clear {
  clear:both;
}

/* button.css */
a.button {
  line-height:1.2em;
  padding:4px 10px;
}
.button, .submit input, input[type="button"], input[type="submit"] {
  background:#F2F2F2 url(/images/admin/white-grad.png) repeat-x scroll left top;
  border-color:#BBBBBB;
  color:#464646;
  text-shadow:0 1px 0 #FFFFFF;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  -moz-box-sizing:content-box;
  border-style:solid;
  border-width:1px;
  cursor:pointer;
  font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  font-size:11px !important;
  line-height:16px;
  padding:2px 8px;
  text-decoration:none;
}
.button:hover, .submit input:hover, input[type="button"]:hover, input[type="submit"]:hover {
  border-color:#666666;
  color:#000000;
}
/* primary button */
.default input {
  background:#21759B url(/images/admin/button-grad.png) repeat-x;
  border-color:#298CBA;
  color:#FFF;
  font-weight:normal;
  text-shadow:none;
}
.default input:hover {
  color:#FFF;
}

#publishing-action { float:right; text-align:right; }

.button-primary {
  min-width:80px;
  text-align:center;
  -moz-border-radius:11px;
  -moz-box-sizing:content-box;
  border:1px solid #BBBBBB;
  color:#464646;
  cursor:pointer;
  font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  font-size:11px !important;
  line-height:16px;
  padding:2px 8px;
  text-decoration:none;
  text-shadow:0 1px 0 #FFFFFF;
  background:#21759B url(/images/admin/button-grad.png) repeat-x scroll left top !important;
  border-color:#298CBA !important;
  color:#FFFFFF !important;
  font-weight:bold;
}


.postbox { border: 1px solid #DFDFDF; -moz-border-radius:6px; line-height:1; margin-bottom:20px; min-width:255px; position:relative; width:99.5%; }
.postbox h3 { background:#DFDFDF url(/images/admin/gray-grad.png) repeat-x scroll left top; text-shadow:0 1px 0 #FFFFFF; font-size:12px; font-weight:bold; line-height:1; margin:0; padding:7px 9px; color:#464646; }
.postbox .inside { font-size:11px; margin:6px; }

.postbox .inside, .postbox .inside p { font-size:11px; }
#submitdiv .inside { margin:0px; }

#categorydiv div.ui-tabs-panel, #linkcategorydiv div.ui-tabs-panel { height:150px; overflow:auto; padding:0.5em 0.9em; }
#categorydiv .ui-tabs-panel { border-style:solid; border-width:3px; }
div.ui-tabs-panel { border-color:#F1F1F1; }

.categorychecklist { list-style: none; margin: 0px; }
.categorychecklist li { line-height: 19px; margin:0; padding:0; list-style: none; margin-bottom:0px; vertical-align: top; font-size: 12px; }
.categorychecklist li input {vertical-align:text-top; line-height:19px; margin:1px; font-size:13px; }
.categorychecklist li label { float: none; width: 100%; padding: 0px; }
.categorychecklist li .children { margin-left:18px; }

#minor-publishing-actions { text-align:right; padding:6px; }
#minor-publishing-actions input, #major-publishing-actions input, #minor-publishing-actions .preview { min-width:80px; text-align:center; }
#save-post { float:left; }
.preview { float:right; }

#major-publishing-actions { background:#EAF2FA none repeat scroll 0 0; border-top:medium none; clear:both; padding:6px; }
#delete-action { float:left; line-height:25px; text-align:left; vertical-align:middle; }
.submitbox .submitdelete, a.delete { border-bottom-color:#FF0000; color:#FF0000; }
.submitbox .submitdelete { border-bottom-style:solid; border-bottom-width:1px; padding:1px 2px; text-decoration:none; }

#category-adder h4 { margin-bottom:0; margin-top:4px; margin:0 0 8px; font-size: 11px;}

#post-body #category-add input { width:30%; }
#category-add select { width:100%; }
#editable-post-name input { width: 16em; }
#edit-slug-box strong, .tablenav .displaying-num, #submitted-on { color:#777777; }
#edit-slug-box { margin:8px 0px; padding:0 7px; }



/* themes.css */
.themes {
  list-style:none;
}
.theme-clip {
  display:block;
  margin:10px;
  border:3px solid;
  height:300px;
  width:400px;
  padding:10px;
}
.themes li {
  float:left;
  list-style:none !important;
}
.themes li.active .theme-clip {
  border-color: #ddd;
}
.theme-clip img {
  width: 200px;
  height: 200px;
}
/* dialog.css */
#dialog {
  display:none;
}
