<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>RPress</title>
</head>
<body>
  <h1>Oops Something went wrong!</h1>
  <%== error.message %> on <%= line_number %>
  <ul>
    <% l = 0 %>
    <% for msg in error.backtrace do %>
    <% if line_number == l %>
      <li class="error">
    <% else %>
      <li>
    <% end %>
      <pre><%= l %>:<%== msg %></pre>
    </li>
    <% l += 1 %>
    <% end %>
  </ul>
</body>
</html>
