<h1>Editing link</h1>

<% semantic_form_for [:admin, @link] do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <% f.buttons do %>
    <%= content_tag :li, button_save_or_cancel('Save', admin_links_path) %>
  <% end %>
<% end %>

<%= link_to 'Back', admin_links_path %>
