<%= form.text_autocomplete :tag_list, :class => 'text_field' -%>

<script type="text/javascript" charset="utf-8">
  var id = '<%= mark_id %>';

  document.write("<div id='" + id + "'></div>");
  
  $(document).ready(function() {
    
    var token = $('#' + id).parents('form').find("input[name=authenticity_token]")[0].value;

    $.facebooklist('#facebook-demo', '#preadded', '#facebook-auto', 
      { url        : '<%= url %>?authenticity_token=' + token, 
        cache      : 1}, 10, 
      { userfilter : 1, casesensetive : 0 });
      
      $("#list_user").autocomplete("search.php", properties = { 
  													matchContains: true,
  													minChars: 2,
  													selectFirst: false, 
  													intro_text: "Type Name", 
  													no_result: "No Names"
  												}); 
  						$("#submit").click(function(){
  						var data = $("#to_users").val()
  							alert(data)
  						})  
  });
</script>