<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Anerian Services</title>
  <link type="text/stylesheets" href="style.css" rel="stylesheet"/>
  <%= stylesheet_link_tag 'style', :media => 'screen' %>
  <%= javascript_include_tag 'prototype'%>
</head>
<body>
<!--[if IE]><div class="ie"><![endif]-->
  <!--[if lt IE 7.]><div class="ie6"><![endif]-->
  <div class="container">
    <div class="header">
      <h1 class="logo-brand"><a href="/"><span>Anerian Pages</span></a></h1>
    </div>
    <div class="content">
      <%= flash_display -%>
      <%= yield %>
    </div>
    <div id="_window" style="display:none">
      <div class="content">
        <div class="body">
        </div>
      </div>
    </div>
  </div>
  <!--[if lt IE 7.]></div><![endif]-->
<!--[if IE]></div><![endif]-->
</body>
</html>
