<h1>Theme listing</h1>
<ul class="themes">
  <% for theme in @themes do %>
    <% if theme[:active] %><li class="active"><% else %><li><% end %>
    <%= render :partial => 'theme_clip', :locals => { :theme => theme } %>
    </li>
  <% end %>
</ul>
<% content_for :foot do %>
<div id="dialog" title="Theme preview">
  <div id="dialog-content">
  </div>
</div>
<script type="text/javascript">
  var dialog = null;
  $(document).ready( function() {
    dialog = $('#dialog').dialog({
      autoOpen: false,
      closeOnEscape: true,
      width: "800px",
      position: 'top',
      buttons: { "Activate": function() { $(this).dialog("close"); } }
    });
    $('.theme-clip .preview-theme').click(function(e) { 
      e.preventDefault();
      var themeName = this.innerHTML;
      //console.log("preview: " + themeName);
      dialog.bind('dialogopen', function(event,ui) {
        var frame = "<iframe style='width:800px;height:600px' src='" + "<%= @site_info.site_url %>" + "/?preview=" + themeName + "'></iframe>";
        //console.log("openning dialog: " + frame);
        $("#dialog-content").html( frame );
        $('#dialog').dialog('moveToTop');
      });
      dialog.dialog('open');
    });
  });
</script>
<% end %>
