<h1>Theme listing</h1>
<ul class="themes">
  <% for theme in @themes do %>
    <% if theme[:active] %><li class="active"><% else %><li><% end %>
    <%= render :partial => 'theme_clip', :locals => { :theme => theme } %>
    </li>
  <% end %>
</ul>
<% content_for :foot do %>
<div id="dialog" title="Basic dialog">
  <p></p>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    var loadTheme = "";
    $('.theme-clip .preview-theme').click(function(e) { 
      console.log("click");
      e.preventDefault();
      $('#dialog').dialog({
        open: function(event,ui) {
          console.log(event);
          console.log(ui);
        }
      });
    });
  });
</script>
<% end %>
