<h1>Theme listing</h1>
<ul class="themes">
  <% for theme in @themes do %>
    <% if theme[:active] %><li class="active"><% else %><li><% end %>
    <%= render :partial => 'theme_clip', :locals => { :theme => theme } %>
    </li>
  <% end %>
</ul>
